*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
h1{
    color: black;
}
h4{
    color: #333;
}
.about-section{
    background: url(../images/about-image.jpg) no-repeat left;
    background-size: 50% 75%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-bottom: 5%;
    background-color: #f1f1f1;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
.about-section-2{
    background: url(../images/about-image1.jpg) no-repeat right;
    background-size: 55% 75%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    background-color: #f1f1f1;
    margin-bottom: 5%;
}
.inner-container-2{
    width: 55%;
    float: left;
    background-color: #fdfdfd;
    padding: 100px;
}
.inner-container-2 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.about-section-4{
    background: url(../images/hardware-support.jpg) no-repeat right;
    background-size: 55% 75%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    background-color: #f1f1f1;
    margin-bottom: 5%;
}
.about-section-3{
    background: url(pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-bottom: 5%;
    background-color: #f1f1f1;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
    .inner-container-2{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .inner-container-2{
        width: 100%;
    }
    .about-section-2{
        background-size: 100%;
        padding: 100px 40px;
    }
    .about-section-3{
        background-size: 100%;
        padding: 100px 40px;
    }
    .about-section-4{
        background-size: 100%;
        padding: 100px 40px;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .about-section-2{
        padding: 0;
    }
    .about-section-3{
        padding: 0;
    }
    .about-section-4{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
    .inner-container-2{
        padding: 60px;
    }
}